In [4]:
import pandas as pd
import yfinance as yf

In [20]:
df = yf.download(tickers="GOOGl", period="5y")

/tmp/ipykernel_19414/2795818380.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers="GOOGl", period="5y")
[*********************100%***********************]  1 of 1 completed

In [21]:
df.head()

Price           Close       High        Low       Open    Volume
Ticker          GOOGL      GOOGL      GOOGL      GOOGL     GOOGL
Date
2020-08-10  74.394836  74.908252  73.434091  74.095628  20546000
2020-08-11  73.585686  75.071776  73.468886  74.254670  31098000
2020-08-12  74.912727  75.132911  73.807357  73.912728  22512000
2020-08-13  75.380409  76.390359  74.960928  74.960928  22388000
2020-08-14  74.782997  75.536481  74.503174  75.229318  21942000

In [22]:
df['highLowPercent'] = (df['High'] - df['Low']/ df['Low']) * 100

In [23]:
df['percentChange'] = (df['Close'] - df['Open']) / df['Open'] * 100

In [24]:
df = df[['Close','highLowPercent','percentChange','Volume']]

In [25]:
df.head()

Price           Close highLowPercent percentChange    Volume
Ticker          GOOGL                                  GOOGL
Date
2020-08-10  74.394836    7390.825208      0.403813  20546000
2020-08-11  73.585686    7407.177596     -0.900932  31098000
2020-08-12  74.912727    7413.291107      1.352946  22512000
2020-08-13  75.380409    7539.035863      0.559600  22388000
2020-08-14  74.782997    7453.648144     -0.593280  21942000